<div id="navbar">
  <div id="navbar-left" class="navbar-section">
    <a href="/" id="nav-logo" class="nav-link">This is an API</a>
  </div>
  <div id="navbar-right" class="navbar-section">
    <ul id="nav-group">
      <% if (userid === undefined) { %>
        <li class="nav-item" id="nav-register">
          <a href="/register" class="nav-link backBtn">
            <p>
              Register
            </p>
          </a>
        </li>
        <li class="nav-item" id="nav-login">
          <a href="/login" class="nav-link backBtn">
            <p>
              Log In
            </p>
          </a>
        </li>
      <% } else { %>
        <li class="nav-item" id="nav-logout">
          <a href="/logout" class="nav-link backBtn">
            <p>
              Log Out
            </p>
          </a>
        </li>
      <% } %>
      <li class="nav-item" id="nav-admin">
        <a href="/admin" class="nav-link backBtn">
          <p>
            Admin
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>