<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
    <link rel='stylesheet' href='/stylesheets/create.css' />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div id="create-container" class="container fill">
      <h1><%= title %></h1>
      <form id='createForm' action='/create' method='POST'>
        <label for="endpointName">Name (Letters and Numbers Only)</label>
        <br>
        <input type="text" name="endpointName" class="formInput" pattern="[A-Za-z0-9]+" required>
        <br>
        <label for="endpointData">Data</label>
        <br>
        <textarea id="jsonTextArea" type="text" name="endpointData" rows="10" required></textarea>
        <p class="errorLabel" id="formatLabel"></p>
        <button id="formatBtn" type="button" onclick="formatJSON()">Format JSON</button>
        <br>
        <button type="submit" id="createBtn" class="goodBtn">Create</button>
      </form>
      <button class="backBtn" onclick="window.location='/endpoints'">Back</button>
    </div>
    <%- include('partials/scripts') %>
    <script src="javascripts/create.js"></script>
  </body>
</html>
