<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <p class="description">This is an API is an app that allows developers to create and expose API endpoints to help streamline their process.</p>
    <div class='buttons'>
      <button id="registerBtn" onclick="window.location='/register'">Register</button>
      <button id="loginBtn" onclick="window.location='/login'">Login</button>
    </div>
  </body>
</html>
