.title {
  text-align: center;
}

.description {
  text-align: center;
}

.buttons {
  text-align: center;
}

#registerBtn {
  margin: 1em;
  width: 10%;
  background-color: #1234a3;
}

#loginBtn {
  margin: 1em;
  width: 10%;
  background-color: #1ab359;
}