input {
  margin-top: 1em;
  margin-bottom: 3em;
}

input {
  width: 100%;
  padding: 1em 1em;
  margin: 1em 0;
  box-sizing: border-box;
}

#saveBtn {
  width: 100%;
  background-color: #1ab359;
  margin: 2em 0;
}

#deleteBtn {
  width: 100%;
  background-color: #c91f1f;
}