body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  align-self: center;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  cursor: pointer;
}

.backBtn {
  margin-top: 5em;
  background-color: rgb(46, 46, 46);
}
